body{
	background-image: url(pabelan1.jpg);
	background-size: 100%;
	background-attachment: fixed;
}
.wrapper{
	background-color: black;
}
header{
	margin-top: -5px;
}
.atas{
	width: 100%;
	height: 17px;
}
.navbar-brand img{
	width: 70%;
	margin: -5px 0px;
}
.nav-link {
	font-size: 14px;
}
.dropdown-item{
	font-weight: 900;
}
.dropdown-item:hover {
	background-color: #ffcc00;
	color: black;
}
.carousel-item{
	width: 99%;
	height: 500px;
	margin: 5px;
	
}
.carousel-item img{
	width: 100%;
	height: 100%;
}
.carousel-caption .tit , .desc{
	background-color: rgba(211, 211, 211, 0.7);
	color: black;
}
.pendidikan{
	width: 100%;
	height: 300px;
	background-color: white;
}
.pendidikan h3{
	text-align: center;
	padding-top: 25px;
	text-shadow: 2px 0px grey;
	font-weight: 700;
	font-family: Arial;
}
.icon {
	margin-left: 11%;
	margin-right: 5%;
}
.icon div{
	float: left;
	margin-left: 10px;
}
.icon div img{
	margin: 10px 30px;
	width: 40%;
}
.icon div img:hover{
	width: 50%;
}
.label h5{
	position: absolute;
}
.kmi{
	margin: 130px 225px;
}
.mts{
	margin: 130px 515px;
}
.takhasus{
	margin: 130px 755px;
}
.ma{
	margin: 130px 1055px;
}
.berita{
	width: 100%;
	height: 1500px;	
	background-color: white;
	
}
.berita1{
	float: left;
	width: 35%;
	height: 100%;
}
.berita2{
	float: left;
	width: 35%;
	height: 100%;
}
aside{
	float: left;
	width: 30%;
	height: 100%;
}
.isiaside {
	margin: 10px;
}
.isiaside h5{
	text-align: center;
}
.isiaside ul li{
	margin: 10px;
	display: block;
}
.isiaside ul li a:hover{
	color: #4682B4;
	font-weight: 700;
}
.card{
	margin: 10px;
}
.explore{
	width: 90%;
	height: 450px;
	margin-left: 90px;
}
.explore h3{
	text-align: center;
	color: black;
	margin-top: 50px;
	margin-left: -40px;
	font-weight: 900;
	font-family: BroadWay;
	font-size: 30pt;
}
.explore div{
	width: 250px;
	height: 270px;
	float: left;
	margin:50px 70px;
	background: rgba(211, 211, 211, 0.7);
}
.explore div img{
	width: 150px;
	height: 150px;
	margin: 30px 50px;
}
.explore div h5{
	text-align: center;
	font-weight: 900;
	font-family: centaur;
}
.explore div h5:hover{
	font-size: 14pt;
}
.bawah {
	width: 100%;
	height: 17px;
	margin-bottom: -1px;
}
footer{
	width: 100%;
	height: 270px;
	border: 1px solid black;
	background-color: black;
}
.footer1{
	width: 100%;
	height: 200px;
	background-color: #101010;
}
.footera{
	float: left;
	width: 30%;
}
.footera .logo{
	margin: 30px;
}
.contact {
	margin: -15px;
	padding-left: 60px;
}
.contact .fb, .ig, .email, .tlp, .loc{
	float: left;
	width: 10%;
	margin: 5px;
}
.contact img:hover{
	background-color: #008fb3;
	border-radius: 20px;
}
.footerb{
	float: left;
	width: 30%;
}
.footerb h4{
	margin-top: 30px;
	color: white;
}
.footerc{
	float: left;
	width: 40%;
}
.depag {
	width: 20%;
	margin: 5px;
	padding-top: 30px;
}
.binanbud{
	width: 75%;
	margin: 5px;
	padding-top: 30px;
}
.footer2{
	margin-bottom: -5px;
}
.footer2 label{
	margin: 25px 0px;
}
/*-------------------------------------------------------------------------------*/
.title{
	width: 100%;
	height: 90px;
	border: 1px solid #4682B4;
	background-color: #4682B4;
}
.title h2{
	color: white;
	text-align: left;
	margin: 30px 40px;
	text-shadow: 2px 0px #696969;
	font-weight: 700;
}
.kolom{
	background-color: white;
	height: 300px;
	margin-bottom: -5px;
}